.booknow {
 padding: 16px;
 margin-top: 45px;
 border-radius: 8px;
 background-color: rgb(156, 227, 228);
 text-align:center;
 line-height: 100%;
 font-weight: 600;
 color: rgb(0, 0, 0);
}

.booknow:hover {
  color: rgb(120, 63, 63);
}